[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "~=1.6.1"
mkdocs-material = "~=9.4.14"
mkdocs-static-i18n = "~=1.2.3"

[dev-packages]

[requires]
python_version = "3.13"
